<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" align='center'>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
   </div><br/>

    <p align='center'>
       <b> Attachment </b><br/>
       <%= f.file_field :attach %>
   </p><br/>
   
    <p align='center's>
      <b> Picture </b><br/>
      <%= f.file_field :pic %>
   </p><br/> 

   <div class="actions" align='center'>
    <%= f.submit %>
  </div>
<% end %>
