<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" align='center'>
    <%= f.label :Name %>
    <%= f.text_field :name %>
   </div><br/><br/>

    <p align='center'>
       <b> Attachment </b>
       <%= f.file_field :attach  %>
   </p><br/><br/>
   
    <p align='center's>
      <b> Picture </b>
      <%= f.file_field :pic %>
   </p><br/><br/> 

   <div class="actions" align='center'>
      <%= f.submit :UPLOAD, :class=>'betaTextField btn btn-primary' %>
   </div>
<% end %>