<h1> WELCOME TO FILE UPLOAD </h1><br/>
<h2 class ="span4"> Listing Users</h2>

<table class="table span6 table-bordered table-condensed table-hover table-nonfluid">
  <tr>
    <th>Name</th>
    <th>Email</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user,:class => "btn btn-mini" %></td>
   
    
    <% if user.email == current_member.email || current_member.administrator == true %>

      <td><%= link_to 'Edit', edit_user_path(user) ,:class => "btn btn-mini" %></td>
      <td><%= link_to 'Destroy', user,:class => "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
     </td>
    <% end %> 
  </tr>
<% end %>
</table>
<br/>
<br/><br/><br/>
<div class ="span8">
<h4 >Do You want to Upload File?</h4><br/>
<%= link_to 'Click Here to Upload File ', new_user_path ,:class => "btn btn-primary" %><br/>
</div>