<html>
<head>
<style type="text/css">
body
{
background-color:#b0c4de;
}
h2 {color:green;}
h4 {color:green;} 
.right
{
  position:absolute;
  right: 100px;
  width: 300px;
}
.left
{
  position:absolute;
  left: 250px;
  width: 300px;
 } 
 .link 
 {

 }
</style>
</head>

<body>
<p id="notice"><%= notice %></p><br/>


	<%= image_tag @user.pic.url %><h2>Image Displayed Above</h2>
	  
  <a href="<%= @user.attach.url %> ">
        <h2> File Attached.  Click here to Display the Text File Content </h2></a>
    <br/>
	
  <% if @user.attach_file_name %>
 <p>
    <div class="left">
    <b>Attachment Details :</b></br>
       <h4>Attach File Name : &nbsp&nbsp <%= @user.attach_file_name %></h4>

       <h4>Attach File Content Type : &nbsp&nbsp <%= @user.attach_content_type %></h4>

       <h4>Attach File Size :  &nbsp&nbsp <%= @user.attach_file_size %></h4>
	   <h4>Attach Updated At :  &nbsp&nbsp <%= @user.attach_updated_at %></h4>
   </div>
   <% end %>
	 
</p>

  <% if @user.pic_file_name %>
<p> 
   <div class="right">
   <b> Pic Details :</b><br/>
   <h4>Pic File Name : <%= @user.pic_file_name %></h4>

    <h4>Pic File Content Type : <%= @user.pic_content_type %></h4>
     <h4>Pic File Size : <%= @user.pic_file_size %></h4>
     <h4>Pic Updated At : <%= @user.pic_updated_at %></h4>
   </div>
   <% end %>
  </p>
       
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<div class="link">
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
</div>
</body>
</html>