
   <div class="well"><%= image_tag @user.pic.url(:thumb)%> </br></br>
       <%= link_to "Click To View full Image File", @user.pic.url , :target => "_blank"%> 
   </div> 

    <div class="well"> 
        <%= link_to "Click here to Display Text File Attached", @user.attach.url, :target => "_blank" %>
    </div>
    <% if @user.pic_file_name %>
  Pic Details
    <table class="table table-bordered table-condensed table-hover table-nonfluid">
      <tr>
         <th>Pic File Name </th> 
         <th>Pic File Content Type </th>
         <th>Pic File Size </th> 
         <th>Pic Updated At </th>
         </tr><tr> 
   <td><%= @user.pic_file_name %></td>
   <td> <%= @user.pic_content_type %></td>
   <td><%= @user.pic_file_size %></td>
   <td><%= @user.pic_updated_at %></td>
 </tr>
   </table>
   <% end %>
 

   <% if @user.attach_file_name %>

    Attachment Details :
    <table class="table table-bordered table-condensed table-hover table-nonfluid">
      <tr>
         <th>Attach File Name </th> 
         <th>Attach File Content Type</th>
         <th>Attach File Size</th> 
         <th>Attach Updated At</th>
         </tr><tr> 
   <td><%= @user.attach_file_name %></td>
   <td> <%= @user.attach_content_type %></td>
   <td><%= @user.attach_file_size %></td>
   <td> <%= @user.attach_updated_at %></td>
 </tr>
   </table>
 <% end %>

  <b>Uploaded By:</b>
  <b><%= @user.email %></b><br/><br/>

<div class="link">
  <!-- <% p current_member.administrator %>  -->
    <% if @user.email == current_member.email || current_member.administrator == true %>
<%= link_to 'Edit', edit_user_path(@user),:class => "btn btn-mini" %> 
<% end %>
| <%= link_to 'Back', users_path,:class => "btn btn-mini" %>
</div>