
<%= image_tag @user.pic.url(:thumb)%><a href="<%= @user.pic.url%> "><h3>Click To View full Image File</h3></a><br /><br />
	  
  <a href="<%= @user.attach.url %> ">
        <h2> Click here to Display Text File Attached </h2></a>
    <br/><br /><br />
	
    <% if @user.pic_file_name %>
 <p> 
    <div class="right">
       <b> Pic Details :</b><br/>
       <h4>Pic File Name : <%= @user.pic_file_name %></h4>

        <h4>Pic File Content Type : <%= @user.pic_content_type %></h4>
        <h4>Pic File Size : <%= @user.pic_file_size %></h4>
        <h4>Pic Updated At : <%= @user.pic_updated_at %></h4>
   </div>
   <% end %>
  </p>

   <% if @user.attach_file_name %>
<p>
  <div class="left">
    <b>Attachment Details :</b></br>
       <h4>Attach File Name : &nbsp&nbsp <%= @user.attach_file_name %></h4>

       <h4>Attach File Content Type : &nbsp&nbsp <%= @user.attach_content_type %></h4>

       <h4>Attach File Size :  &nbsp&nbsp <%= @user.attach_file_size %></h4>
     <h4>Attach Updated At :  &nbsp&nbsp <%= @user.attach_updated_at %></h4>
   </div>
   <% end %>
</p>
       
<p>
  <b>Uploaded By:</b>
  <%= @user.email %>
</p>

<div class="link">
  <!-- <% p current_member.administrator %>  -->
    <% if @user.email == current_member.email || current_member.administrator == true %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<% end %>
| <%= link_to 'Back', users_path %>
</div>