<%= link_to "File Upload Application", root_path, :class => 'brand' %>
<ul class="nav">
  <% if member_signed_in? %>
    <li>

    <%= link_to('Logout', destroy_member_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_member_session_path)  %>
    </li>
  <% end %>
  <% if member_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_member_registration_path) %>
    </li> 
    <li>
    <%= link_to('Sign up', new_member_registration_path)  %>
    </li>
  <% end %>
</ul>
<% if member_signed_in? %>
  <ul class="pull-right">
    <li><strong>Signed In As <%= current_member.email %></strong>
  </li>
</ul>
<% end %>
