<!DOCTYPE html>
<html>
<head>
  <title>Fileupload</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!--  STYLING THE VIEWS -->
<style type="text/css">
body
{
background-color:#b0c4de;
}

h2 {color:green;}
h4 {color:green;} 
h1 {color:red;}
h3 {color:blue;}

.right
{
  position:absolute;
  right: 100px;
  width: 300px;
}
.left
{
  position:absolute;
  left: 350px;
  width: 300px;
 } 
 .link 
 {

 }
</style>
</head>
<body>
 
  <div id="container">
  	 <div id="user_nav">
  	 	<% if member_signed_in? %>
  	 	<b>Signed In As <%= current_member.email %> &nbsp&nbsp 
  	 	<%=link_to "sign_out" , destroy_member_session_path,:method => "delete" %>
  	 	<% else %>

  	 	<%= link_to "sign_up" , new_member_registration_path %> or <%= link_to "sign_in", new_member_session_path %>
  	 	<% end %>
  	 </div>

 <p class="notice"><%= notice %></p
 <p class="alert"><%= alert %></p>

 <%= yield %>
</body>
</html>
